<hr>

<h1>Get a hold of me:</h1>

<hr>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
		<h3>Location</h3>
		<p>Location: Denver, CO</p>	
		<h3>Phone Number</h3>
		<p>Phone Number: <%= number_to_phone "6309817434" %></p>
		<h3>Email</h3>
		<p><a href="mailto:kggoltermann@gmail.com?subject=PortfolioSiteContact">Click Here</a> or kggoltermann@gmail.com</p>
    </div>
    <div class="col">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98140.66291719013!2d-104.92532215247937!3d39.764449754044456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b80aa231f17cf%3A0x118ef4f8278a36d6!2sDenver%2C%20CO!5e0!3m2!1sen!2sus!4v1634759322776!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>